{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}开始答题{% endblock %}
{% block style %}
<style>
    .box{
        width:700px;
        height:500px;
        overflow:hidden;
        position: relative;
        margin-left:350px;
        margin-top: 20px;
    }
    .ul{
        transition:ease-in-out 0.5s; /*动画效果*/
        position: absolute;
        top:0;
        left:0;
    }
    .box .ul .li{
        float: left;
        width:700px;
        height:500px;
        list-style: none;
        position:relative;
    }
    .box .ul .li .p1{
        width: 500px;
        text-align: center;
        margin: 0px auto 30px;
    }
    .box .ul .li label{
        width: 300px;
    }
    .biankuang{
        width:220px;
        height: 400px;
        position: absolute;
        top:150px;
        left:110px;
        background: rgba(255, 255, 255, 0.83);
        border-radius: 30px;
        padding: 5px;
        overflow: auto;
    }
    .biankuang span{
        display: inline-block;
        width:50px;
        height: 50px;
        line-height: 50px;
        border-radius:50px;
        background-color: rgba(102, 102, 102, 0.24);
        color:#fff;
        text-align:center;
        font-size:25px;
        margin: 5px;
    }
    .biankuang span.active{
        background-color: rgba(15, 50, 111, 0.54);
    }
    .dsq h1{
        display: inline-block;
        color: #1b6d85;
    }
</style>
{% endblock %}
{% block content %}
<div class="main-content container">
    <div class="position toInWhere">
        <b>当前位置：</b><span>
            <a href="{% url 'detail' test_data.class_game.class_name %}">考试信息</a>
        </span>&nbsp;&gt;&nbsp;<span>正在考试...</span>
    </div>
    <div class="inner-content">
        <div class="border teston mb-15 zycs_ceshi" style="display: block;">
            <div class="teston-top">
                <img src="/static/images/teston-top.jpg">
                <h1>{{ test_data.game_name }}</h1>
                <div class="process">
                    <h2 style="font-size: 25px">☺倒计时</h2>
                    {% if times %}
                        <div class='dsq'>
                            <h1 id='minute'></h1><h1>:</h1>
                            <h1 id='second'></h1>
                        </div>
                    {% else %}
                        <span class="n2" style="color:#e4653d" id="timetext">无限制</span>
                    {% endif %}
                </div>
            </div>

            <form method="post" action="">
                <div class='biankuang'>
                    {% for bank in bank_data %}
                        <span class="{% ifequal forloop.counter 1 %}active{% endifequal %}">
                            {{ forloop.counter }}
                        </span>
                    {% endfor %}
                </div>
                <div class='box'>
                    <ul class='ul'>
                        {% for bank in bank_data %}
                        <li class="li">
                            <p style="height: 100px" class="p1">({{ bank.ques_type }})Q：{{ bank.question }}</p>
                            {% if bank.ques_type == '单选题' %}
                                <input type="radio" name="{{ forloop.counter }}" value="A" style="margin-left: 250px"><label>A. {{ bank.choiceA }}</label><br>
                                <input type="radio" name="{{ forloop.counter }}" value="B" style="margin-left: 250px"><label>B. {{ bank.choiceB }}</label><br>
                                <input type="radio" name="{{ forloop.counter }}" value="C" style="margin-left: 250px"><label>C. {{ bank.choiceC }}</label><br>
                                <input type="radio" name="{{ forloop.counter }}" value="D" style="margin-left: 250px"><label>D. {{ bank.choiceD }}</label><br>
                            {% elif bank.ques_type == '多选题' %}
                                <input type="checkbox" name="{{ forloop.counter }}" value="A" style="margin-left: 250px"><label>A. {{ bank.choiceA }}</label><br>
                                <input type="checkbox" name="{{ forloop.counter }}" value="B" style="margin-left: 250px"><label>B. {{ bank.choiceB }}</label><br>
                                <input type="checkbox" name="{{ forloop.counter }}" value="C" style="margin-left: 250px"><label>C. {{ bank.choiceC }}</label><br>
                                <input type="checkbox" name="{{ forloop.counter }}" value="D" style="margin-left: 250px"><label>D. {{ bank.choiceD }}</label><br>
                            {% elif bank.ques_type == '判断题' %}
                                <input type="radio" name="{{ forloop.counter }}" value="对" style="margin-left: 250px">A. 对<br><br>
                                <input type="radio" name="{{ forloop.counter }}" value="错" style="margin-left: 250px">B. 错<br><br>
                            {% elif bank.ques_type == '填空题' %}
                                <input type="text" class="form-control" name="{{ forloop.counter }}" placeholder="请输入答案"  style="width:400px;margin-left: 200px" />
                            {% endif %}
                        </li>
                        {% endfor %}

                    </ul>
                </div>
{#                <div id="tjiao">结束答题</div>#}
                <input class="btn btn-danger" name="submit" type="submit" style="margin:0 0 -3px 800px;" value='交卷' />
{#                <input type="text" name="1" value="123">#}
            {% csrf_token %}
            </form>

            <ul style="text-align:center;margin-top: -30px">
                <li class="btn btn-primary">
                    <a class="s">上一题</a>
                </li>
                <li class="btn btn-primary" style="margin-left: 110px;">
                    <a class="x">下一题</a>
                </li>
            </ul>

        </div>
    </div>

    <!-- loading -->
    <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop='static'>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">提示</h4>
                </div>
                <div class="modal-body">
                    <h1>正在准备题库...</h1>
                </div>
            </div>
        </div>
    </div>
</div>



{% block js %}
<script src="{% static 'js/jquery.min.js' %}"></script>
{% endblock %}

<script>
    var leng = {{ leng|safe }}
    var ids = document.getElementById("id");
    var uls = document.getElementsByClassName('ul')[0];
    var slideNum=document.getElementsByClassName("li").length-1;
    var buttons =document.getElementsByClassName('biankuang')[0];
    var spans=buttons.getElementsByTagName("span");
    var step = 0;

     $(".x").on("click",function(){
        step++;
        if(step>slideNum){
            step=slideNum;
        }
        
        uls.style.left = -step*705+"px";
        styletab()
        
    })
    
    $(".s").on("click",function(){
        step--;
        if(step<0){
            step=0;
        }
        uls.style.left = -step*705+"px";
        styletab()
    })
    // 当跳转到对应的图片后，下面对应的导航按钮添加active样式，其他的兄弟按钮移除active
    //样式切换
    function styletab(){
        //先循环遍历所有的span标签， 移除active样式
        for(var i=0;i<leng; i++){
            spans[i].className = '';
        }
        //给对应的span标签添加active
        spans[step].className = 'active';
    }

    for(var i=0;i<leng; i++){
        spans[i].onclick=function(){
            step=this.innerHTML-1;
            styletab()
            uls.style.left=-(this.innerHTML-1)*705+"px";
        }
     }

{#    $("#tjiao").on("click",function(){#}
{#        var a = $("#minute").html();#}
{#        var b = $("#second").html();#}
{#        var c = 59-a;#}
{#        var d = 60-b;#}
{#        $("#id").append("<input type='text' id='ddd' value='"+c+":"+d+"' >");#}
        // alert(m-s);
{#    })#}
{#    var a = $("#minute").html();#}
{#    var b = $("#second").html();#}
{#    var c = 0;#}
    {#if(a==0 && b==0){#}
        {#$(".btn-danger").click()#}
        {#console.log('123')#}



    var m = {{times|safe}};
    var s = 59;
    var t1=setInterval(function(){
        s--;
        if(s<0){
            //当秒数倒计为0，秒数要恢复，分钟数要减一
            s=9;
            m--
        }
        //当分钟数倒计为0，分钟数要恢复，小时减1
        if(m<0){
            m=9;
        }
        //当小时、分钟、秒都等于0、则停止倒计时
        if(m==0 && s==0){
             clearInterval(t1);
             $(".btn-danger").click()
             console.log('123')
        }
        second.innerText = s<10?"0"+s:s;
        minute.innerText = m<10?"0"+m:m;
    },1000)

</script>

{% endblock %}