{% load static %}


<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
    <title>北京网络职业学院在线注册</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link rel="Shortcut Icon" href="{% static 'images/100.jpg' %}" />
    <style>
        #tab-form{
            display: none;
        }
    </style>
</head>
<body>
<div class="bg" id="dialogBg"></div>
<header>

    <div class="c-box fff-box">
        <div class="wp header-box">
            <p class="fl hd-tips">北京网络职业学院考试系统</p>
            <ul class="fr hd-bar">
                <li>服务电话：<span>010-81303630</span></li>
                <li><a href="{% url 'login' %}">登录</a></li>
                <li class="active"><a href="{% url 'register' %}">注册</a></li>
            </ul>
        </div>
    </div>
</header>
<section>
    <div class="c-box bg-box">
        <div class="login-box clearfix">
            <div class="hd-login clearfix">
                <a class="index-logo" href=""></a>
                <a class="index-font" href="{% url 'index' %}">回到首页</a>
            </div>
            <div class="fl slide">
                <div class="imgslide">
                    <ul class="imgs">

                        <li><a href=""><img width="483" height="472" src="{% static 'images/11.jpg' %}" /></a></li>

                        <li><a href=""><img width="483" height="472" src="{% static 'images/22.jpg' %}" /></a></li>

                        <li><a href=""><img width="483" height="472" src="{% static 'images/33.jpg' %}" /></a></li>

                    </ul>
                </div>
                <div class="unslider-arrow prev"></div>
                <div class="unslider-arrow next"></div>
            </div>
            <div class="fl form-box">
                <div class="tab">
                    <h2 class="active">邮箱注册</h2>
                    <h2 id="active">手机注册</h2>
                </div>
                <div class="tab-form">
                    <form id="email_register_form" method="post" action="{% url 'register' %}" autocomplete="off">
                        <input type='hidden' name='csrfmiddlewaretoken' value='gTZljXgnpvxn0fKZ1XkWrM1PrCGSjiCZ' />
                        <div class="form-group marb20 {% if login_form.errors.email %}errorput{% endif %}">
                            <label>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱</label>
                            <input  type="text" id="id_email" name="email" value="{{ register_form.email.value }}" placeholder="请输入您的邮箱地址" />
                        </div>
                        <div class="form-group marb8 {% if login_form.errors.password %}errorput{% endif %}">
                            <label>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码</label>
                            <input type="password" id="id_password" name="password"  value="{{ register_form.password.value }}" placeholder="请输入6-20位非中文字符密码" />
                        </div>
                        <br>
                        <div class="form-group marb8 captcha1 {% if login_form.errors.captchal %}errorput{% endif %}">
                            <label>验&nbsp;证&nbsp;码</label>
                            {{ register_form.captcha }}
                        </div>
                        <div class="error btns" id="jsEmailTips">
                            {% for key,error in register_form.errors.items %}
                                {{ error }}
                                {{ err }}
                            {% endfor %}
                            {{ msg }}
                        </div>
                        <div class="auto-box marb8">
                        </div>
                        <input class="btn btn-green" id="jsEmailRegBtn" type="submit" value="注册并登录" />
                    <input type='hidden' name='csrfmiddlewaretoken' value='5I2SlleZJOMUX9QbwYLUIAOshdrdpRcy' />
                    {% csrf_token %}
                    </form>
                </div>
                <div class="tab-form" id="tab-form">
                    <form id="mobile_register_form" autocomplete="off">
                        <input type='hidden' name='csrfmiddlewaretoken' value='gTZljXgnpvxn0fKZ1XkWrM1PrCGSjiCZ' />
                        <div class="form-group marb20">
                            <label>手&nbsp;机&nbsp;号</label>
                            <input id="jsRegMobile" name="account" type="text" placeholder="请输入您的手机号码" />
                        </div>
                        <div class="form-group marb8">
                            <label>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码</label>
                            <input id="jsPhoneRegPwd" name="password_m" type="password" placeholder="请输入6-20位非中文字符密码" />
                        </div>
                        <br>
                        <div class="clearfix">
                            <div class="form-group marb8 verify-code">
                                <label>短信验证码</label>
                                <input id="jsPhoneRegCaptcha" name="mobile_code" type="text" placeholder="输入手机验证码" />
                            </div>
                            <input class="verify-code-btn sendcode" id="jsSendCode" value="发送验证码" type="submit" onclick="settime(this)">
                        </div>
                        <div class="error btns" id="jsMobileTips"></div>
                        <div class="auto-box marb8">

                        </div>
                        <input class="btn btn-green" id="jsEmailRegBtn" type="submit" value="注册并登录" />
                    </form>
                </div>
                <p class="form-p">已有账号？<a href="{% url 'login' %}">立即登录</a></p>
            </div>
        </div>
    </div>
</section>

<input id="isLogin" type="hidden" value="False"/>
<script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/unslider.js' %}" type="text/javascript"></script>
<script src="{% static 'js/validateDialog.js' %}" type="text/javascript"></script>
<script src="{% static 'js/login.js' %}" type="text/javascript"></script>
<script>
    $(function () {
$('#active').click(function(){
        $('#tab-form').show();
    })
    })
</script>
<script type="text/javascript">
var countdown=60;
function settime(obj) {
    if (countdown == 0) {
        obj.removeAttribute("disabled");
        obj.value="发送验证码";
        countdown = 60;
        return;
    } else {
        obj.setAttribute("disabled", true);
        obj.value="重新发送(" + countdown + ")";
        countdown--;
    }
setTimeout(function() {
    settime(obj) }
    ,1000)
}
</script>
<script>
    $('#jsSendCode').click(function () {
        $.ajax({
            cache:false,
            type:"POST",
            url:"{% url 'forcode' %}",
            data:{
               csrfmiddlewaretoken:$('[name="csrfmiddlewaretoken"]').val(),
               'mobile':$("#jsRegMobile").val(),
               'password':$("#jsPhoneRegPwd").val()
            },
            async:true,
            success:function (data) {
                alert(data)
            }
        })
    })
</script>
</body>
</html>